doctype 
html 
    a(href="/user") COMFIREM
    h1 HERE IS YOUR PURCHASE INFORMATION 
    br
    label Messgae 
    tradeMessage=tradeMessage
    br
    label STOCK
    stock=stock
    br
    label AMOUNT 
    amount=amount 
    br
    label PRICE
    price=price 
    br
    label SHARE
    share=share 
