doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  meta(name='keywords' content='Home, Time, User')
  meta(name='description' content='')
  title Home
  link(rel='stylesheet' href='style/style.css' media='screen')
  link(rel='stylesheet' href='style/data.css' media='screen')
  script.u-script(type='text/javascript' src='jquery.js' defer='')
  script.u-script(type='text/javascript' src='nicepage.js' defer='')
  meta(name='generator' content='Nicepage 4.21.5, nicepage.com')
  link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
  link#u-page-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900')
  script(type='application/ld+json').
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Stock"
    }
  meta(name='theme-color' content='#478ac9')
  meta(property='og:title' content='Home')
  meta(property='og:type' content='website')
section#sec-851f.u-clearfix.u-section-1
  .u-clearfix.u-expanded-width.u-layout-wrap.u-layout-wrap-1
    .u-layout
      .u-layout-row
        .u-size-29-sm.u-size-29-xs.u-size-60-md.u-size-8-lg.u-size-8-xl
          .u-layout-col
            .u-container-align-center.u-container-style.u-layout-cell.u-size-60.u-layout-cell-1
              .u-border-2.u-border-grey-5.u-container-layout.u-container-layout-1
                img.u-expanded-width.u-image.u-image-contain.u-image-default.u-image-1(src='style/HomeIcon.png' alt='' data-image-width='672' data-image-height='525')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-btn-1(href='user')
                  span.u-file-icon.u-icon.u-text-black.u-icon-1
                    img(src='style/home.png' alt='')
                  | &nbsp;Home
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-hover-palette-5-light-1.u-palette-5-light-1.u-radius-50.u-text-hover-palette-5-light-2.u-text-palette-1-base.u-btn-2(href='stock')
                  span.u-file-icon.u-icon.u-text-palette-1-base.u-icon-2
                    img(src='style/coin.png' alt='')
                  | &nbsp;Stock
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-body-color.u-text-hover-palette-5-light-2.u-btn-3(href='search')
                  span.u-file-icon.u-icon.u-text-black.u-icon-3
                    img(src='style/search.png' alt='')
                  | &nbsp;Search
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-body-color.u-text-hover-palette-5-light-2.u-btn-4(href='history')
                  span.u-file-icon.u-icon.u-icon-4
                    img(src='style/history.png' alt='')
                  | &nbsp;History
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-body-color.u-text-hover-palette-5-light-2.u-btn-5(href='tutorial')
                  span.u-file-icon.u-icon.u-icon-5
                    img(src='style/help.png' alt='')
                  | &nbsp;&ZeroWidthSpace;tutorial
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-body-color.u-text-hover-palette-5-light-2.u-btn-6(href='logout')
                  span.u-file-icon.u-icon.u-icon-6
                    img(src='style/logout.png' alt='')
                  | &nbsp;Logout
                  span(style='font-size: 0.875rem;')
        .u-size-31-sm.u-size-31-xs.u-size-52-lg.u-size-52-xl.u-size-60-md
          .u-layout-col
            .u-size-30
              .u-layout-row
                .u-container-style.u-layout-cell.u-size-60.u-layout-cell-2
                  .u-border-2.u-border-grey-5.u-container-layout.u-container-layout-2
                    h1.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-1 Stock
                    h2.u-align-right.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-2 Time
                    a.u-border-1.u-border-active-palette-2-base.u-border-hover-palette-1-base.u-border-no-left.u-border-no-right.u-border-no-top.u-btn.u-button-style.u-none.u-text-palette-1-base.u-btn-7(href='user') Go Back
                    a.u-border-1.u-border-active-palette-2-base.u-border-hover-palette-1-base.u-border-no-left.u-border-no-right.u-border-no-top.u-btn.u-button-style.u-none.u-text-palette-1-base.u-btn-8(href='live') O
            .u-size-30
              .u-layout-row
                .u-container-align-center.u-container-style.u-layout-cell.u-shape-rectangle.u-size-30.u-layout-cell-3
                  .u-border-2.u-border-grey-5.u-container-layout.u-container-layout-3
                    .u-border-3.u-border-grey-5.u-container-align-left.u-container-style.u-grey-5.u-group.u-group-1
                      .u-container-layout.u-valign-top.u-container-layout-4
                        h2.u-align-left.u-text.u-text-default.u-text-3 
                          name=name
                        h2.u-align-left.u-text.u-text-default.u-text-4
                          symbol=symbol
                        h3.u-align-left.u-text.u-text-default.u-text-5 
                          current=current
                        h4.u-align-left.u-text.u-text-default.u-text-6 
                          percentage=percentage
                    .u-border-3.u-border-grey-5.u-container-style.u-group.u-palette-3-light-3.u-group-2
                      .u-container-layout.u-container-layout-5
                        h2.u-align-left.u-text.u-text-default.u-text-7 Key Statistics
                        h4.u-align-left.u-text.u-text-default.u-text-8 Market Volume
                        h4.u-align-left.u-text.u-text-default.u-text-9 Market Day High
                        h5.u-align-left.u-text.u-text-default.u-text-10 
                          volume=volume
                        h5.u-align-left.u-text.u-text-default.u-text-11
                          high=high
                        h4.u-align-left.u-text.u-text-default.u-text-12 Market Open
                        h4.u-align-left.u-text.u-text-default.u-text-13 Market Day Low
                        h5.u-align-left.u-text.u-text-default.u-text-14 
                          open=open
                        h5.u-align-left.u-text.u-text-default.u-text-15
                          low=low
                .u-container-align-center.u-container-style.u-layout-cell.u-size-30.u-layout-cell-4
                  .u-border-2.u-border-grey-5.u-container-layout.u-container-layout-6
                    .u-border-3.u-border-grey-5.u-container-align-center.u-container-style.u-group.u-palette-4-light-3.u-group-3
                      .u-container-layout.u-valign-top.u-container-layout-7
                        h2.u-align-center.u-text.u-text-default.u-text-16 Ready to Trade?
                        a.u-active-none.u-align-center.u-border-2.u-border-no-left.u-border-no-right.u-border-no-top.u-border-palette-1-base.u-bottom-left-radius-0.u-bottom-right-radius-0.u-btn.u-btn-rectangle.u-button-style.u-hover-none.u-none.u-radius-0.u-top-left-radius-0.u-top-right-radius-0.u-btn-9(href='buystock')  
                          buy=buy
                        a.u-active-none.u-align-center.u-border-2.u-border-no-left.u-border-no-right.u-border-no-top.u-border-palette-1-base.u-bottom-left-radius-0.u-bottom-right-radius-0.u-btn.u-btn-rectangle.u-button-style.u-hover-none.u-none.u-radius-0.u-top-left-radius-0.u-top-right-radius-0.u-btn-10(href='sellstock') 
                          sell=sell
                        h4.u-align-center.u-text.u-text-default.u-text-17 
                          balance=balance
                    .u-border-3.u-border-grey-5.u-container-style.u-group.u-palette-1-light-3.u-group-4
                      .u-container-layout.u-container-layout-8
                        h2.u-align-center.u-text.u-text-default.u-text-18 Your Statistics
                        .u-container-style.u-group.u-group-5
                          .u-container-layout.u-container-layout-9
                            h4.u-text.u-text-default.u-text-19
                              | Your M
                              span(style='font-weight: 700;')
                              | ar
                              span(style='font-weight: 700;')
                              | ket Value
                            h5.u-text.u-text-default.u-text-20 
                              amount=amount
                            .u-border-3.u-border-grey-dark-1.u-line.u-line-horizontal.u-line-1
                            h5.u-text.u-text-default.u-text-21 Total Return
                            h5.u-text.u-text-default.u-text-22 
                              returnPercentage=returnPercentage
                        .u-container-style.u-group.u-shape-rectangle.u-group-6
                          .u-container-layout.u-container-layout-10
                            h4.u-align-left.u-text.u-text-default.u-text-23 Average Cost
                            h4.u-align-left.u-text.u-text-default.u-text-24 Shares
                            h5.u-align-left.u-text.u-text-default.u-text-25 
                              shares=shares
                            h5.u-align-left.u-text.u-text-default.u-text-26 
                              average=average
footer#sec-f9df.u-align-center.u-clearfix.u-footer.u-grey-80.u-footer
  .u-clearfix.u-sheet.u-sheet-1
    p.u-small-text.u-text.u-text-variant.u-text-1  Copy Right&nbsp; @2022 LazyKid
section.u-backlink.u-clearfix.u-grey-80
  a.u-link(href='https://nicepage.com/templates' target='_blank')
    span Free Templates
  p.u-text
    span created with
  a.u-link(href='https://nicepage.com/static-site-generator' target='_blank')
    span Static Website Generators
  | .
