doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  meta(name='keywords' content='Home, Time, User')
  meta(name='description' content='')
  meta(http-equiv='refresh' content='3')

  title Home
  link(rel='stylesheet' href='style/style.css' media='screen')
  link(rel='stylesheet' href='style/user.css' media='screen')
  script.u-script(type='text/javascript' src='jquery.js' defer='')
  script.u-script(type='text/javascript' src='nicepage.js' defer='')
  meta(name='generator' content='Nicepage 4.21.5, nicepage.com')
  link#u-theme-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i')
  link#u-page-google-font(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900')
  script(type='application/ld+json').
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Stock"
    }
  meta(name='theme-color' content='#478ac9')
  meta(property='og:title' content='Home')
  meta(property='og:type' content='website')
section#sec-ff27.u-clearfix.u-valign-middle.u-section-1
  .u-clearfix.u-expanded-width.u-layout-wrap.u-layout-wrap-1
    .u-layout
      .u-layout-row
        .u-size-29-sm.u-size-29-xs.u-size-60-md.u-size-8-lg.u-size-8-xl
          .u-layout-col
            .u-container-style.u-layout-cell.u-size-60.u-layout-cell-1
              .u-border-2.u-border-grey-5.u-container-layout.u-container-layout-1
                img.u-expanded-width.u-image.u-image-contain.u-image-default.u-image-1(src='style/HomeIcon.png' alt='' data-image-width='672' data-image-height='525')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-hover-palette-5-light-2.u-text-palette-1-base.u-btn-1(href='user')
                  span.u-file-icon.u-icon.u-text-palette-1-base.u-icon-1
                    img(src='style/Home.png' alt='')
                  | &nbsp;Home
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-body-color.u-text-hover-palette-5-light-2.u-btn-2(href='stock')
                  span.u-file-icon.u-icon.u-icon-2
                    img(src='style/Coin.png' alt='')
                  | &nbsp;Stock
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-body-color.u-text-hover-palette-5-light-2.u-btn-3(href='search')
                  span.u-file-icon.u-icon.u-icon-3
                    img(src='style/Search.png' alt='')
                  | &nbsp;Search
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-body-color.u-text-hover-palette-5-light-2.u-btn-4(href='history')
                  span.u-file-icon.u-icon.u-icon-4
                    img(src='style/History.png' alt='')
                  | &nbsp;History
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-body-color.u-text-hover-palette-5-light-2.u-btn-5(href='tutorial')
                  span.u-file-icon.u-icon.u-icon-5
                    img(src='style/Help.png' alt='')
                  | &nbsp;&ZeroWidthSpace;tutorial
                  span(style='font-size: 0.875rem;')
                a.u-align-center.u-border-none.u-btn.u-btn-round.u-button-style.u-grey-5.u-hover-palette-5-light-1.u-radius-50.u-text-body-color.u-text-hover-palette-5-light-2.u-btn-6(href='logout')
                  span.u-file-icon.u-icon.u-icon-6
                    img(src='style/Logout.png' alt='')
                  | &nbsp;Logout
                  span(style='font-size: 0.875rem;')
        .u-size-31-sm.u-size-31-xs.u-size-52-lg.u-size-52-xl.u-size-60-md
          .u-layout-col
            .u-size-30
              .u-layout-row
                .u-container-style.u-layout-cell.u-size-60.u-layout-cell-2
                  .u-border-2.u-border-grey-5.u-container-layout.u-container-layout-2
                    h1.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-1 Home
                    h2.u-align-right.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-2 
                      time=time
                    h2.u-align-left.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-3 
                      name=name
                    .u-align-center.u-border-3.u-border-grey-5.u-line.u-line-horizontal.u-line-1
                    h3.u-align-left.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-4 Your Balance
                    a.u-btn.u-btn-round.u-button-style.u-radius-50.u-text-hover-palette-2-base.u-btn-7(href='https://nicepage.com/k/aesthetic-html-templates') Find
                    h4.u-align-left.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-5 Don&apos;t know what to buy?&nbsp;
                    h4.u-align-left.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-6 
                      userBalance=userBalance
            .u-size-30
              .u-layout-row
                .u-container-align-center.u-container-style.u-layout-cell.u-size-33.u-layout-cell-3
                  .u-border-2.u-border-grey-5.u-container-layout.u-container-layout-3
                    h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-7 Your Assets
                    .u-border-2.u-border-black.u-border-no-left.u-border-no-right.u-border-no-top.u-container-align-center.u-container-style.u-group.u-shape-rectangle.u-group-1
                      .u-container-layout.u-valign-middle.u-container-layout-4
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-8 Stock
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-9 Current
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-10 Average
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-11 Balance
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-12 Percentage
                    .u-container-style.u-group.u-shape-rectangle.u-group-2
                      .u-container-layout.u-valign-middle.u-container-layout-5
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-13
                          userAmazonPrice=userAmazonPrice
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-14 
                          amazon=amazon
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-15 
                          userAmazonAverage=userAmazonAverage
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-16 
                          userAmazonHold=userAmazonHold
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-17 
                          userAmazonChange=userAmazonChange
                    .u-container-style.u-group.u-shape-rectangle.u-group-3
                      .u-container-layout.u-valign-middle.u-container-layout-6
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-18 $110
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-19 AMZ&ZeroWidthSpace;&ZeroWidthSpace;N
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-20 $120
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-21 $100
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-22 10%
                    .u-container-style.u-group.u-shape-rectangle.u-group-4
                      .u-container-layout.u-container-layout-7
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-23 $110
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-24 AMZ&ZeroWidthSpace;&ZeroWidthSpace;N
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-25 $120
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-26 $100
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-27 10%
                    .u-container-style.u-group.u-shape-rectangle.u-group-5
                      .u-container-layout.u-container-layout-8
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-28 $110
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-29 AMZ&ZeroWidthSpace;&ZeroWidthSpace;N
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-30 $120
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-31 $100
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-32 10%
                    .u-container-style.u-group.u-shape-rectangle.u-group-6
                      .u-container-layout.u-container-layout-9
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-33 $110
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-34 AMZ&ZeroWidthSpace;&ZeroWidthSpace;N
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-35 $120
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-36 $100
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-37 10%
                    .u-container-style.u-group.u-shape-rectangle.u-group-7
                      .u-container-layout.u-container-layout-10
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-38 $110
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-39 AMZ&ZeroWidthSpace;&ZeroWidthSpace;N
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-40 $120
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-41 $100
                        h4.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-42 10%
                .u-container-align-center.u-container-style.u-layout-cell.u-size-27.u-layout-cell-4
                  .u-border-2.u-border-grey-5.u-container-layout.u-container-layout-11
                    h3.u-align-center.u-custom-font.u-font-roboto-slab.u-text.u-text-default.u-text-43 Top Picks
                    .u-container-style.u-group.u-shape-rectangle.u-group-8
                      .u-container-layout.u-container-layout-12
                        .u-form.u-form-1
                          form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(action='https://forms.nicepagesrv.com/Form/Process' source='email' name='form' style='padding: 10px;')
                            .u-align-right.u-form-group.u-form-submit
                          form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(action='/data' method="POST" name='form' style='padding: 10px;')
                            .u-align-right.u-form-group.u-form-submit
                              button.u-border-none.u-btn.u-btn-round.u-btn-submit.u-button-style.u-hover-palette-2-base.u-radius-50(type='submit' value='AMZN' name='stockSelected') AMZN
                              input.u-form-control-hidden(type='submit' value='submit')
                            .u-form-send-message.u-form-send-success  Thank you! Your message has been sent. 
                            .u-form-send-error.u-form-send-message  Unable to send your message. Please fix errors then try again. 
                            input(type='hidden' value='' name='recaptchaResponse')
                            input(type='hidden' name='formServices' value='85cf8e2430ffaf1905d654880bf6de59')
                        h4.u-align-center.u-text.u-text-default.u-text-44 
                          amazonToday=amazonToday
                        h4.u-align-center.u-text.u-text-default.u-text-45 
                          amazonPrice=amazonPrice
                    .u-container-style.u-group.u-shape-rectangle.u-group-9
                      .u-container-layout.u-container-layout-13
                        .u-form.u-form-2
                          form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(action='/data' method="POST" name='form' style='padding: 10px;')
                            .u-align-right.u-form-group.u-form-submit
                              button.u-border-none.u-btn.u-btn-round.u-btn-submit.u-button-style.u-hover-palette-2-base.u-radius-50(type='submit' value='TSLA' name='stockSelected') TSLA
                              input.u-form-control-hidden(type='submit' value='submit')
                            .u-form-send-message.u-form-send-success  Thank you! Your message has been sent. 
                            .u-form-send-error.u-form-send-message  Unable to send your message. Please fix errors then try again. 
                            input(type='hidden' value='' name='recaptchaResponse')
                            input(type='hidden' name='formServices' value='85cf8e2430ffaf1905d654880bf6de59')
                        h4.u-align-center.u-text.u-text-default.u-text-46 
                          appleToday=appleToday
                        h4.u-align-center.u-text.u-text-default.u-text-47
                          applePrice=applePrice
                    .u-container-style.u-group.u-shape-rectangle.u-group-10
                      .u-container-layout.u-container-layout-14
                        .u-form.u-form-3
                          form.u-clearfix.u-form-spacing-10.u-form-vertical.u-inner-form(action='/data' method="POST" name='form' style='padding: 10px;')
                            .u-align-right.u-form-group.u-form-submit
                              button.u-border-none.u-btn.u-btn-round.u-btn-submit.u-button-style.u-hover-palette-2-base.u-radius-50(type='submit' value='AAPL' name='stockSelected') AAPL
                              input.u-form-control-hidden(type='submit' value='submit')
                            .u-form-send-message.u-form-send-success  Thank you! Your message has been sent. 
                            .u-form-send-error.u-form-send-message  Unable to send your message. Please fix errors then try again. 
                            input(type='hidden' value='' name='recaptchaResponse')
                            input(type='hidden' name='formServices' value='85cf8e2430ffaf1905d654880bf6de59')
                        h4.u-align-center.u-text.u-text-default.u-text-48 
                          teslaToday=teslaToday
                        h4.u-align-center.u-text.u-text-default.u-text-49 
                          teslaPrice=teslaPrice
footer#sec-f9df.u-align-center.u-clearfix.u-footer.u-grey-80.u-footer
  .u-clearfix.u-sheet.u-sheet-1
    p.u-small-text.u-text.u-text-variant.u-text-1  Copy Right&nbsp; @2022 LazyKid
